* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
p {
  position: absolute;
  background-color: white;
  width: 400px;
  padding: 75px 45px 25px 45px;
  margin: 80px;
  border-radius: 10px;
  line-height: 1.8;
  font-family: sans-serif;
}
h1 {
  position: absolute;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
  background-color: rgb(240, 11, 148);
  margin: 60px 105px;
  width: 350px;
  padding: 20px 40px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
